*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}
button{
    display: block;
    margin: auto;
    background-color: black;
    color: wheat;
    padding-inline: 15px;
    border-radius: 25px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-error {

    border: 2px solid #e74c3c;
  }